<div id="payment">
	<h3>Payment</h3>
	<div id="stripe_error"></div>
	<%= f.fields_for :line_items, @order.line_items.detect { |li| li.line_item_type == "payment" } do |line_item_f| %>
		<%= line_item_f.hidden_field :line_item_type, { :value => "payment" } %>
		<%= line_item_f.fields_for :payment do |payment| %>

			<div class="item">
				<%= payment.label :number %>
				<%= payment.text_field :number, :class => "required card-number" %>
			</div>

			<div class="item">
				<%= payment.label :verification_value %>
				<%= payment.text_field :verification_value, :class => "required card-cvc" %>
			</div>

			<div class="item">
				<%= payment.label :month %>
				<%= payment.select :month, 1.upto(12).to_a,  {},  {:class => "card-expiry-month"} %>
				<%= payment.select :year, Time.now.year.upto(Time.now.year + 10).to_a, {}, {:class => "card-expiry-year"} %>
			</div>
			<%= payment.hidden_field :stripe_token, :class => "required stripe_token" %>

		<% end %>
	<% end %>
</div>
